<h2>Your Order</h2>

{{#each shoppingCart.ordersList as |meal|}}
  {{meal.name}} -- ${{meal.price}} &nbsp;<span class="glyphicon glyphicon-trash" {{action "deleteFromCart" meal}}></span><br>
{{/each}}
<h3>Total = ${{shoppingCart.totalPrice}}</h3>
