body {
  font-family: serif;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.navbar {
  margin-top: 25px;
}

.navbar h4 {
  font-size: 25pt;
  margin-bottom: 35px;
}

.tag-line {
  margin-bottom: 75px;
}

.imageDisplay {
  width: 400px;
  height: 300px;
  border-radius: 40px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.meal-tile .btn-info {
  font-size: 15pt;
  margin-top: 15px;
  margin-bottom: 50px;
}

.cart {
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 40px;
}

.display-cart h2 {
  font-size: 15pt;
}

.content {
  margin-bottom: 150px;
}

.new-meal {
  margin-top: 75px;
}

.new-meal .btn-success, .update-meal .btn-success {
  font-size: 15pt;
  margin-top: 25px;
}

.new-meal label, .update-meal label {
  font-size: 15pt;
  margin-top: 20px;
}

.new-meal-btn {
  font-size: 15pt;
  margin-top: 75px;
}

.admin-meals-list {
  margin-top: 75px;
}

.admin-meals-list .btn-warning, .admin-meals-list .btn-danger {
  font-size: 15pt;
}

.admin-meals-name {
  margin-bottom: 50px;
}

.popularity-ranking {
  margin-top: 100px;
  margin-bottom: 150px;
}
