<h1>Welcome to Indian Food Delivery</h1>
<h2>We delivery to your office!</h2>

<div class="row">
  <div class="col-xs-10">
    {{#each model as |meal|}}
      {{meal-tile class="col-sm-4" meal=meal}}
    {{/each}}
  </div>
  <div class="col-xs-2">
    {{display-cart}}
  </div>
</div>
