<h1>Welcome to Indian Food Delivery</h1>
<h2 class="tag-line">We delivery to your office!</h2>

<div class="content row">
  <div class="col-xs-9">
    {{#each sortedMealsPriceAsc as |meal|}}
      {{meal-tile class="col-sm-4" meal=meal}}
    {{/each}}
  </div>
  <div class="cart col-xs-2 col-xs-offset-1">
    {{display-cart}}
  </div>
</div>

<h2>Meal Popularity Ranking</h2>
{{shoppingCart.popularityCount}}
